<h1><%= title %></h1>
<div id="left">
   <div id="links" class="block"></div>
   <div id="write-template" class="block"></div>
   <div id="collection" class="block"></div>
   <div class="clear">&nbsp;</div>
</div>
<div id="right">
   <div id="queries" class="block"></div>
   <div id="results" class="block"></div>
   <div class="clear">&nbsp;</div>
</div>

