<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/microblog.css' />
  </head>
  <body>
    <div id="queries">
      <ul>
        <li><a rel="messages-all message-post index" href="/microblog/" title="Home page">Home</a></li>
        <li><a rel="users-all" href="/microblog/users/" title="User List">Users</a></li>
        <li><a rel="register" href="/microblog/register/" title="Register">Register</a></li>
      </ul>
    </div>
    <h1 id="main-title">Microblog</h1>
    <%- body %>
  </body>
</html>
