/* 2011-04-15 (mca) : maze-bot.css */
/* Designing Hypermedia APIs by Mike Amundsen (2011) */

h1,h2,h3,h4,h5 {
  margin-bottom:0;
}
div#display-space {
  width: 500px;
}
div#game-play {
  height: 200px;
  overflow:auto;
  border: 1px solid black;
}

